body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.hello_user {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.8rem;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
}
/* h1 {
  color:  #ff8000;
  padding-top: 20px;
  padding-bottom: 20px;
}
h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}


.btn {
  background-color:  #ff8000;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}  */

/* PROGRESS BAR */
/* .bg-danger {
  background-color: #ff8000!important;
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
  animation: progress-bar-stripes 1s linear infinite;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;

  text-align: left;
  white-space: nowrap;
  transition: width .6s ease;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  color: #fff;
  border-radius: .25rem;
} */

/* INPUT */
/* .form-control {
  text-align: center;
  border: 1px solid #ff8000;
}

#spaced {
  padding-top: 20px;
  padding-bottom: 20px;
} */