{% extends 'base.html' %}
{% block title %}
  Thank You!
{% endblock %}
{% block body %}
<div class="container">
  <!-- HEADER --> 
    <!-- Remaining hints -->
    <nav class="navbar sticky-top navbar-light bg-light">
    <span class="navbar-text">
      Ciao {{user}}
    </span>
    <!-- Player stats -->
    <h5>Life: <span class="badge badge-secondary">{{life}}</span></h5>
    <h5>Score: <span class="badge badge-secondary">{{score}}</span></h5>
  </nav>

  <span class="border">
  </span>
  <div style="background:{{color}} !important" class="jumbotron jumbotron-fluid"> 
      <div class="container">
        <h2 class="display-4">{{ winfail }}</h2>
        <p class="lead">{{ esito }}</p>
      </div>
  </div>
  <a href="/" class="btn">Nuova partita!</a>
  <h2>GRAZIE PER AVER GIOCATO</h2>
</div>
<div class="card">
  <div class="card-body">
  <div class="mt-4">
      <table id="proxies" class="display table responsive" style="width: 100%">
          <thead>
          <tr>
              {% for header in results[0].keys() %}
              <th>{{header}}</th>
              {% endfor %}
          </tr>
          </thead>
          <tbody>
          {% for row in results %}
              <tr>
              {% for index in range(0, len(fieldnames)) %}
                  <td>{{row[fieldnames[index]]}}</td>
              {% endfor %}
              </tr>
          {% endfor %}
          </tbody>
      </table>
  </div>
  </div>
</div>
{% endblock %}