{% extends 'game_page.html' %}
{% block title %}
   Ending Dummy | Test
{% endblock %}

{% block content %}
<div color='bg-color-primary'>
<div class="card border-1 alert-{{color}} mb-2">
	<div class="card-body">										
		<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">{{ winfail }}</h4>
		<p class="card-text">{{ esito }}</p>
	</div>
</div>

<h2 class="mt-4">GRAZIE PER AVER GIOCATO!</h2>
<a href="/" class="btn btn-light mb-2 mt-2">GIOCA ANCORA</a>


  <div class="mt-4">
      <table id="proxies" class="display table responsive table-hover bg-color-primary text-white" style="width: 100%">
        <thead>
          <tr>
              {% for header in results[0].keys() %}
              <th>{{header}}</th>
              {% endfor %}
          </tr>
          </thead>
          <tbody>
            {% for row in results %}
              <tr>
                {% for index in range(0, len(fieldnames)) %}
                    <td>{{row[fieldnames[index]]}}</td>
                {% endfor %}
              </tr>
            {% endfor %}
        </tbody>
      </table>
  </div>
</div>

{% endblock %}

