{% extends 'base.html' %}
{% block title %}
  Guess the character
{% endblock %}
{% block body %}
  <div class="container" id='hint_content'>
  <!-- HEADER -->
  <!-- Remaining hints -->
  <nav class="navbar sticky-top navbar-light bg-light">
    <span class="navbar-text">
      Ciao {{user}}, 
      {% if remaining == 0 %}
      nessun indizio rimasto
      {% else %}
        {{ remaining }} altri indizi disponibili
      {% endif %}
        - {{potential_score}} punti possibili indovinando il personaggio ora
    </span>
    <!-- Player stats -->
    <h5>Life: <span class="badge badge-secondary">{{life}}</span></h5>
    <h5>Score: <span class="badge badge-secondary">{{score}}</span></h5>
  </nav>

  <!-- Progress Bar -->
  <span class="border">
    <div class="progress">
      <div class="progress-bar bg-danger" role="progressbar" style="width: {{share}}%" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </span>

  <!-- Input answer -->
  <form action= "answer" method="POST">
    <div class="form-row align-items-center">

        <label class="sr-only" for="inlineFormInput">guess</label>
        <input size="100%" type="text" class="form-control" id="inlineFormInput" placeholder="Prova ad Indovinare" name="answer">


        <button type="submit" class="btn mt-2">Conferma</button>

    </div>
  </form>

  <!-- Hint Placeholder-->
    <img src="{{ url_for('static', filename='images/spinner.gif') }}" alt="loading">
 
  </div>
{% endblock %}

{% block javascript %} 
  <script>loadHint()</script>
{% endblock %}