{% extends 'base.html' %}
{% block title %}
   Home Page
{% endblock %}
{% block body %}
      <div class="container">
          <img src="static/images/T.png" alt="tuxgame logo" style="width:20%;">
         <h1>
            Scegli uno username e... "inizia!"
         </h1>
        
         <!-- Input username -->
         <form action= "hint" method="POST">
             <input type="text" class="form-control" name='user' placeholder="Username" aria-label="Text input with checkbox">
             <br>
             <button type="submit" class="btn">Inizia!</button>
         </form>

      </div>   
{% endblock %}