<!doctype html>
<html lang="it">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <body style="text-align:center">
      <div class="container">
         <h1>
            Ciao! - Scegli username e premi continua per iniziare
         </h1>
        
         <!-- Input username -->
         <form action= "hint" method="POST">
             <input type="text" class="form-control" name='user' placeholder="Username" aria-label="Text input with checkbox">
             <button type="submit" class="btn btn-primary mb-2">Inizia!</button>
         </form>

      </div>   
   </body>
</html>