<div class="body" id='hint_content'>
  <header id="header" class="header-transparent header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': false, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
    <div class="header-body border-top-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
      <div class="header-container container-fluid px-lg-4">
        <div class="header-row px-lg-3">
          <div class="header-column">
            <div class="header-row">
              <div class="header-logo header-logo-sticky-change" style="width: 82px; height: 40px;">
                <a href="index.html">
                  <img class="header-logo-non-sticky opacity-0" alt="Porto" width="70" height="40" src="{{ url_for('static', filename='images/T.png') }}">
                  <img class="header-logo-sticky opacity-0" alt="Porto" width="82" height="40" src="img/logo-default-slim.png">
                </a>
              </div>
            </div>
          </div>
          <div class="header-column justify-content-center">
            <div class="header-row">
              
              <div class="header-nav header-nav-line header-nav-bottom-line header-nav-light-text justify-content-right">
                
                  <a class="hello_user">Ciao {{user}}</a>
                <ul class="nav">
                  <li><a>Life: {{life}}</a></li>
                  <li><a>Score: {{score}}</a></li>
                </ul>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div role="main" class="main">
    
    <!-- Progress Bar 
  <span class="border">
    <p>
      {% if remaining == 0 %}
      nessun indizio rimasto
      {% else %}
        {{ remaining }} altri indizi disponibili
      {% endif %}
        - {{potential_score}} punti possibili indovinando il personaggio ora
    </p>
    <div class="progress">
      <div class="determinate" style="width: {{share}}%"></div>
    </div>
  </span> -->

    <section class="section bg-primary curved-border position-relative border-0 m-0" style="height: 100vh;" id="intro">
      <div class="container pt-5 mt-5">
        <div class="row justify-content-center pt-5 mt-5">
          <div class="col-lg-7 text-center pt-3">
            <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
              <p class="text-color-light opacity-6 text-5 pb-3 mb-4" id="hint_description">{{ show }}</p>
            </div>
            <div class="col-lg-12">
              <!-- BOH 
              <div class="container">
                <div class="row">
                  <form action= "answer" method="POST" id='form-aggio'>
                    <input size="100%" type="text" class="form-control" placeholder="Prova ad Indovinare" name="answer" style="text-align: center;"> 
                  </form>
                </div>
                <div class="row">
                  <div class="col s6">
                    <button type="submit" form='form-aggio' class="btn" style="width:100%">Conferma</button>
                  </div>
                  <div class="col s6">
                      {% if remaining == 0 %}
                          <button type="button" class="btn" style="width:100%" disabled>Indizi finiti :(</button>
                      {% else %}
                          <button onClick="loadHint();" class="btn" value="Nuovo Indizio" style="width:100%"> Nuovo Indizio! </button>
                      {% endif %}
                  </div>
                </div>
              -->
            </div>
          </div>
        </div>
      </div>

      <div class="custom-animated-circles custom-animated-circles-pos-2">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </section>
  </div> 
</div>