<div id="hint_content">
	<div class="progress mb-1">
		<div class="progress-bar progress-bar-secondary progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{share}}%">
      <span class="sr-only">{{share}}% Complete</span>
		</div>
  </div>
  <p class="text-color-light pb-3 mb-4"> {{remaining}} indizi rimanenti su {{tot_hint}} -- {{potential_score}} punti indovinando ora </p>
  <p.lead class="text-color-light text-6 pb-3 mb-4">{{ show }}</p.lead>
  <script>updateButton()</script>
</div>